* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {

}
/* FLEXBOX megoldás
.first-row ul {
  display: flex;
}

.first-row-list {
  list-style: none;
  justify-content: space-around;
  margin-left: 100px;
}

.first-column {
  display: flex;

}

.idopont {
  list-style: none;
  line-height: 70px;
}

.idopont li {
  border-top: 1px solid black;
  width: 100vh;

}
*/

/* GRIDBOX megoldás */

.box1 {
  grid-area: box1;
  background-color: #44a6e3;

}

.box2 {
  grid-area: box2;

}

.box3 {
  grid-area: box3;

}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {

  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
}

.box10 {
  grid-area: box10;
}

.box11 {
  grid-area: box11;
}

.box12 {
  grid-area: box12;
}

.box13 {
  grid-area: box13;
}

.box14 {
  grid-area: box14;
}


.box15 {
  grid-area: box15;
}

/*

.box16 {
  border-bottom: 1px solid black;
  grid-area: box16;
}

*/
.box17 {
  grid-area: box17;
}

.box18 {
  grid-area: box18;
}

.box19 {
  grid-area: box19;
}

.box20 {
  grid-area: box20;
}

.box21 {
  grid-area: box21;
}

.box22 {
  grid-area: box22;
}

.box23 {
  grid-area: box23;
}

.box24 {
  grid-area: box24;
}

.box25 {
  grid-area: box25;
}

.box26 {
  grid-area: box26;
}

.box27 {
  grid-area: box27;
}

.box28 {
  grid-area: box28;
}

.box29 {
  grid-area: box29;
}

.box30 {
  grid-area: box30;
}

.box31 {
  grid-area: box31;
}

.box32 {
  grid-area: box32;
}

.box33 {
  grid-area: box33;
}

.box34 {
  grid-area: box34;
}

.box35 {
  grid-area: box35;
}

.box36 {
  grid-area: box36;
}

.box37 {
  grid-area: box37;
}

.box38 {
  grid-area: box38;
}

.box39 {
  grid-area: box39;
}

.box40 {
  grid-area: box40;
}

.box41 {
  grid-area: box41;
}

.box42 {
  grid-area: box42;
}

.box43 {
  grid-area: box43;
}

.box44 {
  grid-area: box44;
}

.box45 {
  grid-area: box45;
}

.box46 {
  grid-area: box46;
}

.box47 {
  grid-area: box47;
}

.box48 {
  grid-area: box48;
}

.box49 {
  grid-area: box49;
}

.box50 {
  grid-area: box50;
}

.box51 {
  grid-area: box51;
}

.box52 {
  grid-area: box52;
}

.box53 {
  grid-area: box53;
}

.box54 {
  grid-area: box54;
}

.box55 {
  grid-area: box55;
}

.box56 {
  grid-area: box56;
}

.box57 {
  grid-area: box57;
}

.box58 {
  grid-area: box58;
}

.box59 {
  grid-area: box59;
}

.box60 {
  grid-area: box60;
}

.box61 {
  grid-area: box61;
}

.box62 {
  grid-area: box62;
}

.box63 {

  grid-area: box63;
}

.box64 {

  grid-area: box64;
}

.box65 {

  grid-area: box65;
}

.box66 {

  grid-area: box66;
}

.table {
  display: grid;
  line-height: 3.5rem;
  grid-template-columns: 1fr repeat(5, 2.5fr);
  grid-template-rows: 4fr 4.5fr repeat(9, 4fr);
  grid-template-areas:
   "box1 box2 box3 box4 box5 box6"
   "box7 box8 box9 box10 box11 box12"
   "box13 box14 box15 box10 box17 box18"
   "box19 box20 box21 box22 box23 box24"
   "box25 box20 box27 box22 box23 box30"
   "box31 box32 box33 box34 box35 box36"
   "box37 box32 box33 box40 box35 box36"
   "box43 box44 box45 box40 box47 box48"
   "box49 box50 box51 box52 box53 box54"
   "box55 box56 box57 box58 box59 box60"
   "box61 box62 box63 box64 box59 box66";
}

@media only screen and (max-width: 400px){

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(5, 1fr);
  grid-template-rows: 1.5fr 2fr repeat(9, 1.5fr);  
}


}

h1 {
  color: white;
  text-shadow: 1px 1px 4px #000000;
  text-align: center;
}

.box10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box10 h1{
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.box10-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 4rem;
  text-align: center;
  font-style: italic;
}

.box12 {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 0.7rem;
}

.vertical-line {
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 1px;
}

#box12-fst-subject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 8px;
  position: relative;
  left: 1.3rem;
}

#box12-snd-subject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 8px;
  position: relative;
}

.box12-left-add-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  left: -3.8rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 8px;
}

.box12-right-add-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  left: -4rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 8px;
}

.box14 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.6rem;
}

.box14-tanar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
  /*border-bottom: 1px solid white; */

}

.box20 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box20-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box22 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box22-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box23 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box23-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box32 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box32-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box33 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box33-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box35 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box35-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box36 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box36-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}


.box40 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box40-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

.box59 {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box59-tanar {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  line-height: 3rem;
  text-align: center;
  font-style: italic;
}

/* 1st row */

#first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: 0.1rem solid black;
}

/* 2nd row */

#second-row {
  border-bottom: 1px solid black;
}

/* 3rd row */

#third-row {
  border-bottom: 1px solid black;
}

/* 4th row */

#fourth-row {
  border-bottom: 1px solid black;
  line-height: 2.5rem;
}

/* 5th row */

#fifth-row {
  border-bottom: 1px solid black;

}

/* 6th row */

#sixth-row {
  border-bottom: 1px solid black;
  line-height: 2.5rem;
}

/* 7th row */

#seventh-row {
  border-bottom: 1px solid black;
}

/* 8th row */

#eighth-row {
  border-bottom: 1px solid black;
}

/* 9th row */

#ninth-row {
  border-bottom: 1px solid black;
}

/* 10th row */

#tenth-row {
  border-bottom: 1px solid black;
}

/* 11th row */

#eleventh-row {
  border-bottom: 1px solid black;
}

/* 1st column */

.first-column {
  background-color: #44a6e3;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

/* 2nd column */

.second-column {
  background-color: #44c1e3;
}

/* 3rd column */

.third-column {
  background-color: #44a6e3;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

/* 4th column */

.fourth-column {
  background-color: #44c1e3;
}

/* 5th column */

.fifth-column {
  background-color: #44a6e3;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

/* 6th column */

.sixth-column {
  background-color: #44c1e3;
}
