body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

main {

  background-image: url(img/vc-main-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.nav-links {
  display: flex;
  background: linear-gradient(90deg, rgba(178,126,218,1) 0%, rgba(149,121,209,1) 32%, rgba(235,155,222,1) 99%);
  height: 6rem;
}

ul{
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

li {
  text-shadow: 1px 0px 1px black;
  font-size: 1.5rem;
  color: white;
  padding: 40px;
}


li:hover {
  transform: scale(1.07);
  color: #ffa5d8;
}
